{% extends "base.html" %}
{% block page_title %}Главная панель{% endblock %}
{% block page_subtitle %}Новости, обновления и важная информация школы{% endblock %}

{% block content %}
<div class="row">
  {% for item in news %}
    <div class="col-md-6">
      <div class="card shadow-sm mb-3">
        <img src="{{ item.image }}" class="card-img-top" alt="news">
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.desc }}</p>
          <a href="{{ item.url }}" class="btn btn-sm btn-primary" target="_blank">Подробнее</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
